body {
	margin-top: 76px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #222;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6, .position {
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #000;
}
p {
	margin: 0 0 15px;
}
p > a {
	font-weight: 400;
}
p span.tel {
	letter-spacing: 1px;
}
a {
	color: #777;
	transition: color .6s;
	text-decoration: underline;
}
a:hover, a:focus {
	color: #eee;
}
*:focus {
	outline: 0 !important;
}
img.alignleft {
	text-align: left;
	float: left;
	margin: 6px 12px 5px 0;
	border: 3px solid #eee;
	border-radius: 2px;
	box-shadow: 0 8px 15px -2px #000;
}
@media (min-width: 1200px) {
	.container {
		width: 1024px;
	}
}
header {
	box-shadow: 0 1px 50px rgba(227, 83, 237, .5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
header .navbar {
	height: 65px;
}
header .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #bbb;
}
header .navbar-header span {
	display: block;
}
header a.navbar-brand {
	text-decoration: none;
	padding: 8px 15px;
}
header a.navbar-brand span {
	color: #000;
}
header a.navbar-brand span.title {
	font-size: 24px;
	line-height: 28px;
}
header a.navbar-brand span.desc {
	font-size: 13px;
	line-height: 20px;
}
header nav.navbar {
	margin-bottom: 0px;
	border: none;
	border-radius: 0;
	background-color: #FFF;
}
header nav.navbar .navbar-nav {
	float: right;
}
header nav.navbar .navbar-nav>li>a {
	line-height: 63px;
	height: 63px;
	padding: 0 15px;
	text-decoration: none;
}
header nav.navbar .navbar-nav>li.current_page_item {
	border-bottom: 2px solid #000;
}
header nav.navbar .navbar-nav>li.current_page_item > a {
	color: #000;
}

/*********** content ***********/

#wds_container1_0 {
	margin-top: 60px;
}

article {
	min-height: 600px;
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 2px;
	box-shadow: 0px 2px 30px -2px #aaa;

}
.row {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

article h1.title {
	text-align: center;
	font-size: 38px;
	line-height: 60px;
	clear: both;
}
.portfolio.btn-social {
	margin-top: 30px;
}
.panel {
	margin: 20px 0 50px;
	color: #888;
}
.panel-body {
	padding: 35px 15px;
}
blockquote {
	border: none;
	padding: 10px 0;
	margin: 0;
	position: relative;
}
blockquote:before, blockquote:after {
	font-size: 120px;
	line-height: 21px;
	font-family: serif;
	position: absolute;
}
blockquote:before {
	content: "\201C";
	top: -5px;
	left: 0;
}
blockquote:after {
	content: "\201D";
	bottom: -60px;
	right: 0;
}

/*********** slider ***********/

.spider_popup_wrap {
	background: #fff !important;
}

.spider_popup_close_fullscreen {
	font-size: 21px !important;
	color: #000 !important;
}

/*********** footer ***********/

footer {
	text-align: center;
	background-color: #aaa;
	margin-top: 50px;
	margin-left: -15px;
	margin-right: -15px;
	border-top: 3px solid #666;
}
footer p {
	color: #333;
}
footer h3 {
	line-height: 50px;
}
footer a:hover {
	color: #000;
}
footer .title {
	color: #111;
}
footer .footer-below {
	text-align: center;
	background-color: #eee;
	margin-top: 10px;
	font-size: 13px;
	font-weight: 300;
	color: #aaa;
}
footer .footer-below .row {
	padding-bottom: 0;
	line-height: 30px;
}
footer .btn-social, .portfolio.btn-social {
	border: 2px solid #333;
	display: inline-block;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	color: #333;
	transition: all .6s;
}
footer .btn-social:hover, .portfolio.btn-social:hover {
	background-color: #777;
}
footer .fa, .portfolio i.fa.fa-fw {
	font-size: 36px;
	width: 56px;
	line-height: 56px !important;
}
footer a.btn-social + .btn-social {
	margin-left: 10px;
}