body {
	font-family: Calibri, Helvetica, Arial, sans-serif;
	text-shadow: 0 2px 1px #000;
	font-size: 18px;
	color: rgba(211, 188, 69, .9);
	background: url("../images/background2.png"), url("../images/background1.jpg");
	-webkit-background-size: contain, auto;
	-moz-background-size: contain, auto;
	-o-background-size: contain, auto;
	background-size: contain, auto;
	background-position-x: center, center;
}
h1, h2, h3, h4, h5, h6, .position {
	text-transform: uppercase;
	font-size: 24px;
	font-family: Calibri,Helvetica,Arial,sans-serif;
	font-weight: 700;
}
p {
	margin: 0 0 15px;
	color: #eee;
}
a {
	color: #777;
	transition: color .6s;
}
a:hover, a:focus {
	color: #eee;
}
@media (min-width: 1200px) {
	.container {
		width: 1024px;
	}
}
header {
	box-shadow: 0 1px 50px rgba(219, 166, 33, .5);
}
header .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #eee;
}
header .navbar-header {
	float: none;
}
header nav.navbar {
	margin-bottom: 0px;
	border: none;
	border-radius: 0;
	background-color: rgba(20,20,20,.8);
}
header nav.navbar .navbar-nav {
	float: right;
}
header nav.navbar .navbar-nav>li>a {
	line-height: 60px;
	height: 60px;
	padding: 0 15px;
}
header nav.navbar .navbar-nav>li.current_page_item {
	border-bottom: 2px solid rgb(219, 166, 33);
}
header nav.navbar .navbar-nav>li.current_page_item>a {
	color: rgba(211, 188, 69, 0.89);
}

/*********** footer ***********/

footer {
	text-align: center;
	background-color: rgba(21, 21, 21, 0.6);
	margin-top: 50px;
	padding-top: 20px;
	border-top: 3px solid #2F2F2F;
}
footer .row {
	padding-bottom: 20px;
}
footer p {
	color: #ddd;
}
footer h3 {
	line-height: 50px;
}
footer .title {
	color: rgba(211, 188, 69, .9);
}
footer .footer-below {
	text-align: center;
	background-color: #111;
	line-height: 30px;
	margin-top: 10px;
	font-size: 15px;
	color: #796C24;
}
footer .btn-social {
	border: 2px solid #777;
	display: inline-block;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	transition: all .6s;
}
footer .btn-social:hover {
	background-color: #777;
}
footer .fa {
	font-size: 36px;
	width: 56px;
	line-height: 56px;
}
footer a.btn-social + .btn-social {
	margin-left: 10px;
}